* { box-sizing: border-box; font-family: Avenir; }
div#profile-container {
  justify-content: space-between;
  text-align: -webkit-center;
}
div#profile-container figure {
  display: inline-block;
  }
div#profile-container figure div {
  border-radius: 50%;
  overflow: hidden;
  background-blend-mode: luminosity;
  border: 5px solid #000;
  width: 14rem; height: 14rem;
  transition: .4s linear;
  will-change: background-color;
}
div#profile-container figure div:hover {
  border: 8px solid #000;
  background-color: transparent;
}
div#profile-container figcaption {
  margin-top: 1rem;
  text-align: center;
}
.andy {
  background: url(http://vignette1.wikia.nocookie.net/p__/images/0/04/-animepaper.net-vector-standard-anime-one-piece-2yl-tony-tony-chopper-218677-hao-sama-preview-3c71e3e9.jpg/revision/latest?cb=20131103204714&path-prefix=protagonist) no-repeat center
    hsl(200,50%,50%);
  background-size: cover;
}
.andrew {
  background: url(https://s-media-cache-ak0.pinimg.com/originals/97/34/83/97348340d38844afb8bb8bafd232db8f.jpg) no-repeat center
    hsl(200,50%,50%);
  background-size: cover;
}
.roland {
  background: url(http://fightstate1.devise.netdna-cdn.com/wp-content/uploads/2015/05/honest-abe-660x400.jpg) no-repeat center
    hsl(200,50%,50%);
  background-size: cover;
}

.eric {
  background: url(http://fashiontime.pk/wp-content/uploads/2017/07/f7c59191a048705d162596e58baa4f97-one-piece-ace-luffy.jpg) no-repeat center
    hsl(200,50%,50%);
  background-size: cover;
}

.header{
  text-align: center;
  margin: auto;
  color: #f3f3f3;
  font-size: 80px;
  font-weight: 550;
  padding: 20px;
  height: 150px;
  width: 100%;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}

.title{
  color:#fff;
  font-size: 100px;
  margin: 0;
  text-align: center;
}

a{
  text-decoration: none;
  color:#000;
}

h2{
  text-align: center;
  font-size: 34px;
  margin:0;
}

.media-container{
  width: 100%;
  text-align: center;
}

.github-btn{
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
  height: 70px;
  padding:0 100px;
  cursor:pointer;
}

.fa{
  font-size: 35px !important;
}

.mt-0{
  margin-top: 0 !important;
}

.mb-0{
  margin-bottom: 0 !important;
}

.mt-40{
  margin-top: 40px;
}
#bg {
  z-index: -1;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: url("https://wallpapercave.com/wp/7N01m53.jpg");
  background-size:cover
}
#bg h1{
  position: center;

}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 3%;
  min-height: 3%;
}
#app{
  height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@media (min-width: 500px) {
  .col-sm-6 {
    width: 50%;
  }
}
html, body {
  height: 100%;
  min-height: 18em;
}

.hover-cursor{
  z-index: 1;
  cursor:pointer;;
}
.frontend-side {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/website-code.png");
}

.uiux-side {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/website-post-its.png");
}

.split-pane {
  padding-top: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  min-height: 9em;
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
	font-weight:300;
;
}
@media(min-width: 500px) {
  .split-pane {
    padding-top: 2em;
    height: 100%;
  }
}
.split-pane > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.split-pane > div .text-content {
  line-height: 1.6em;
  margin-bottom: 1em;
}
.split-pane > div .text-content .big {
  font-size: 2em;
}
.split-pane > div img {
  height: 1.3em;
}
@media (max-width: 500px) {
  .split-pane > div img {
    display:none;
  }
}
.split-pane button, .split-pane a.button {
  font-family: 'Open Sans', sans-serif;
	font-weight:800;
  background: none;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15em;
  padding: 0.7em;
  font-size: 0.5em;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: white;
  display: inline-block;
	cursor: pointer;
}
.split-pane button:hover, .split-pane a.button:hover {
  text-decoration: none;
  background-color: white;
  border-color: white;
	cursor: pointer;
}
.uiux-side.split-pane button:hover, .split-pane a.button:hover {
  color: violet;
}
.frontend-side.split-pane button:hover, .split-pane a.button:hover {
  color: blue;
}

#split-pane-or {
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 925px) {
  #split-pane-or {
    top:15%;
  }
}
#split-pane-or > div img {
  height: 2.5em;
}
@media (max-width: 500px) {
  #split-pane-or {
    position: absolute;
    top: 50px;
  }
  #split-pane-or > div img {
    height:2em;
  }
}
@media(min-width: 500px) {
  #split-pane-or {
    font-size: 3em;
  }
}
.big {
  font-size: 2em;
}

#slogan {
  position: absolute;
  width: 100%;
  z-index: 100;
  text-align: center;
  vertical-align: baseline;
  top: 0.5em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
}
@media(min-width: 500px) {
  #slogan {
    top: 5%;
    font-size: 1.8em;
  }
}
#slogan img {
  height: 0.7em;
}
.bold {
	text-transform:uppercase;
}
.big {
	font-weight:800;
}

.project-pic-container{
  height: 800px;
}

.link-style{
  color: #f3f3f3 !important;
  text-decoration: none !important;
}
